<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Bff", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link "Home", to: Routes.page_path(@conn, :index), class: "nav-link" %>
              </li>
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <li class="nav-item">
                  <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "nav-link" %>
                </li>
              <% end %>

              <%= if @user_id do %>
                <li class="nav-item"
                  ><%= link("Logout", to: Routes.session_path(@conn, :delete), method: :delete, title: @user_id, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link("Login", to: Routes.session_path(@conn, :index), class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link("Register", to: Routes.register_path(@conn, :index), class: "nav-link") %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
